.credentials-page .main-content {
    width: 90vw;
    max-width: 90vw;
    flex-direction: row;
    background-color: initial;
    flex-wrap: wrap;
    
}

.credentials-page .main-content .column {
    /* flex-basis: 0;
    min-width: 0;  */
    flex-grow: 1;


}

.credentials-page .input {
    flex-grow: initial;
    min-width: initial;
    flex-basis: initial;
   
}

.credentials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    font-size: 2em;
    /* background-color: rgb(13, 13, 39); */
    padding: 1rem;
   
}

.action-buttons {
    display: flex;
    gap: 0.5em;
}

.action-buttons button {
    flex-basis: 0;
    min-width: 0;
    flex-grow: 1;
    padding: 1em;
   
    font-size: 1rem;
}

.icon {
    height: 1em;

}

.google-signin {
    align-self: center;
    align-items: center;
    display: flex;
    padding: 1em;
    gap: 1em;
    font-size: 1rem;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2.5rem;

}

.logo {
    max-width: 20rem;
    filter: drop-shadow(3px 1px 21px #F98308);
}

.slogan {
    font-size: 2rem;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}